.dots-line .dot:nth-child(1) {animation-delay: .01s;}
.dots-line .dot:nth-child(2) {animation-delay: .02s;}
.dots-line .dot:nth-child(3) {animation-delay: .03s;}
.dots-line .dot:nth-child(4) {animation-delay: .04s;}
.dots-line .dot:nth-child(5) {animation-delay: .05s;}
.dots-line .dot:nth-child(6) {animation-delay: .06s;}
.dots-line .dot:nth-child(7) {animation-delay: .07s;}
.dots-line .dot:nth-child(8) {animation-delay: .08s;}
.dots-line .dot:nth-child(9) {animation-delay: .09s;}
.dots-line .dot:nth-child(10) {animation-delay: .10s;}
.dots-line .dot:nth-child(11) {animation-delay: .11s;}
.dots-line .dot:nth-child(12) {animation-delay: .12s;}
.dots-line .dot:nth-child(13) {animation-delay: .13s;}
.dots-line .dot:nth-child(14) {animation-delay: .14s;}
.dots-line .dot:nth-child(15) {animation-delay: .15s;}
.dots-line .dot:nth-child(16) {animation-delay: .16s;}
.dots-line .dot:nth-child(17) {animation-delay: .17s;}
.dots-line .dot:nth-child(18) {animation-delay: .18s;}
.dots-line .dot:nth-child(19) {animation-delay: .19s;}
.dots-line .dot:nth-child(20) {animation-delay: .20s;}
.dots-line .dot:nth-child(21) {animation-delay: .21s;}
.dots-line .dot:nth-child(22) {animation-delay: .22s;}
.dots-line .dot:nth-child(23) {animation-delay: .23s;}
.dots-line .dot:nth-child(24) {animation-delay: .24s;}
.dots-line .dot:nth-child(25) {animation-delay: .25s;}
.dots-line .dot:nth-child(26) {animation-delay: .26s;}
.dots-line .dot:nth-child(27) {animation-delay: .27s;}
.dots-line .dot:nth-child(28) {animation-delay: .28s;}
.dots-line .dot:nth-child(29) {animation-delay: .29s;}
.dots-line .dot:nth-child(30) {animation-delay: .30s;}
.dots-line .dot:nth-child(31) {animation-delay: .31s;}
.dots-line .dot:nth-child(32) {animation-delay: .32s;}
.dots-line .dot:nth-child(33) {animation-delay: .33s;}
.dots-line .dot:nth-child(34) {animation-delay: .34s;}
.dots-line .dot:nth-child(35) {animation-delay: .35s;}
.dots-line .dot:nth-child(36) {animation-delay: .36s;}
.dots-line .dot:nth-child(37) {animation-delay: .37s;}
.dots-line .dot:nth-child(38) {animation-delay: .38s;}
.dots-line .dot:nth-child(39) {animation-delay: .39s;}
.dots-line .dot:nth-child(40) {animation-delay: .40s;}
.dots-line .dot:nth-child(41) {animation-delay: .41s;}
.dots-line .dot:nth-child(42) {animation-delay: .42s;}
.dots-line .dot:nth-child(43) {animation-delay: .43s;}
.dots-line .dot:nth-child(44) {animation-delay: .44s;}
.dots-line .dot:nth-child(45) {animation-delay: .45s;}
.dots-line .dot:nth-child(46) {animation-delay: .46s;}
.dots-line .dot:nth-child(47) {animation-delay: .47s;}
.dots-line .dot:nth-child(48) {animation-delay: .48s;}
.dots-line .dot:nth-child(49) {animation-delay: .49s;}
.dots-line .dot:nth-child(50) {animation-delay: .50s;}
.dots-line .dot:nth-child(51) {animation-delay: .51s;}
.dots-line .dot:nth-child(52) {animation-delay: .52s;}
.dots-line .dot:nth-child(53) {animation-delay: .53s;}
.dots-line .dot:nth-child(54) {animation-delay: .54s;}
.dots-line .dot:nth-child(55) {animation-delay: .55s;}
.dots-line .dot:nth-child(56) {animation-delay: .56s;}
.dots-line .dot:nth-child(57) {animation-delay: .57s;}
.dots-line .dot:nth-child(58) {animation-delay: .58s;}
.dots-line .dot:nth-child(59) {animation-delay: .59s;}
.dots-line .dot:nth-child(60) {animation-delay: .60s;}